{
    "parser": "babel-eslint",
    "extends": [
        "gitbook"
    ],
    "rules": {
        "no-param-reassign": 0
    },
    "plugins": [
        "flowtype"
    ],
    "env": {
        "mocha": true
    },
    "settings": {
        "import/resolver": {
            "babel-module": {}
        }
    },
}
